body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background-color: #1c1c1c; */
    color: #fff;
    display: flex;
    flex-direction: column;
    background: url('../img/RWBY_bk.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  header {
    background: url('../img/RTStore.jpg');
    background-size: cover;
    text-align: center;
    height: 72px;
    width: 1147px;
    margin: 0 215px;
  }

  logo {
    width: 100px;
    height: 100px;
  }

  main {
    display: flex;
  }
  
  .playlist-list, .playlist-display {
    display: flex;
    flex-direction: column;
  }

  .playlist-list {
    background-color: #11120d;
    padding: 20px;
    overflow-y: auto;
    height: 633px;
    width: 180px;
    margin: -72px auto auto auto;
  }
  .playlist-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .playlist-list li {
    margin-bottom: 10px;
  }

  .playlist-list a {
    color: grey;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .playlist-list a:hover {
    color: #e62117;
    transform: scale(1.1);
  }

  .playlist-list p {
      margin: 0;
      font-size: 0.9em;
      color: #ccc;
  }


  .playlist-display {
    flex: 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
    border: none;
  }
  footer {
    background-color: #11120d;
    color: #aaa;
    text-align: center;
    padding: 10px;
  }



  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
  }
  .gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s, border-color 0.3s;
  }
  .gallery img:hover {
    transform: scale(1.05);
    border-color: #ff0000;
  }
  
  .dinosaurio{
    width: 10%;
    height: 10%;
    border-radius: 5px;
    margin: 0 auto;
  }
}
























  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    .playlist-list, .playlist-display {
      flex: 1;
      width: 100%;
    }
}




